@tailwind base;
@tailwind components;

.input{
    @apply focus:outline-none p-3 border-2 text-lg font-light border-gray-200 transition-colors;
};
.container{
    @apply max-w-screen-2xl mx-auto;
}
.link{
    @apply text-lime-400 hover:underline;
}

.btn{ @apply mt-3 
    text-lg 
    font-medium
    focus:outline-none
    text-white 
    bg-lime-600 
    py-4 
    hover:bg-lime-700 
    transition-colors
    cursor-pointer
}
.mini-btn{
    @apply
    mt-2
    text-lg
    font-medium
    focus:outline-none
    text-white 
    bg-lime-600 
    hover:bg-lime-700 
    transition-colors
    py-2
    px-2
   cursor-pointer;

}
.cancel-btn{
    @apply mt-3 
    text-lg 
    font-medium
    focus:outline-none
    text-white 
    bg-red-600 
    py-4 
    hover:bg-red-700 
    cursor-pointer
    transition-colors;
}
.modal-wrap{
    @apply 
    top-0
    left-0
    fixed
    z-999
    w-full
    h-full
    flex
    flex-col
    flex-wrap
    justify-center
    items-center
    align-middle
}
.modal-cart{
    @apply
    
    fixed
    z-999
    h-full
    grid-rows-5
    grid
    w-2/6

}

.modal-content{@apply
    bg-white
    w-1/4
    h-auto
    overflow-y-scroll
}
.modal-header{
    @apply
    bg-white
    w-1/4
}
#modal{
    @apply
    bg-gray-700
}


@tailwind utilities;